<br>
<br>
<div *ngIf="pgs.length > 0">
    <div class="row">
      <div *ngFor="let pg of pgs" class="col-md-4 mb-4">
        <div class="card">
          <img [src]="'assets/Images/' + pg.imageName" class="card-img-top" alt="{{ pg.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ pg.name }}</h5>
            <p class="card-text">Location: {{ pg.location }}</p>
            <p class="card-text">Gender: {{ pg.gender }}</p>
            <p class="card-text">Shares Available: {{ pg.sharesAvailable }}</p>
            <p class="card-text">Price for Four: {{ pg.priceForFour }}</p>
            <p class="card-text">Price for Two: {{ pg.priceForTwo }}</p>
            <p class="card-text">Price for Three: {{ pg.priceForThree }}</p>
            <p class="card-text">TotalVacancies: {{ pg.totalVacancies }}</p>
         
            <button class="btn btn-primary"(click)="openUpdateDialog(pg)">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>