/* styles.css or any relevant stylesheet */
body {
    /* Prevent scrolling */
      background: linear-gradient(90deg, slateblue, skyblue) !important; /* Combination of two light colors */
    }
    
    .form-container {
        width: 400px; /* Adjust as needed */
        margin: auto; /* Center align horizontally */
        border: 1px solid #ccc;
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        text-align: center; /* Center align contents */
        min-height: 80vh; /* Ensure full viewport height */
        display: flex; /* Use flexbox */
        flex-direction: column; /* Arrange items vertically */
        justify-content: center; /* Center vertically */
        
      }
      
      .form-container table {
        width: 100%;
      }
    
      
      .form-container td {
        padding: 10px 0;
      }
      
      .form-container input[type="text"],
      .form-container button {
        width: calc(100% - 20px); /* Adjust width for the padding */
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
      }
      
      .form-container button {
        width: 150px; /* Decrease the width as needed */
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        display: inline-block; /* Ensure button is displayed inline */
      }
      
      .form-container button:hover {  
        background-color: #0056b3;
      }
     