
<html>
  <body>
<div class="forgot-component">
<div class="form-container">
  <h2>Change Password</h2>
  <form #workerForm="ngForm" (ngSubmit)="getOtp()">
    <table>
      <tr>
        <td align="left"><input type="text" name="emailId" placeholder="EmailId" [(ngModel)]="formModel.emailId" /></td>
      </tr>
      <tr>
        <td colspan="2" align="center"><button type="submit">Submit</button></td> <!-- colspan to span across both columns -->
      </tr>
    </table>
  </form>
  
  <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>
    <table>
      <tr>
        <td align="left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter otp" name="otp" #otp="ngModel" ngModel />
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2" align="center"><button type="submit">Verify Otp</button></td> <!-- colspan to span across both columns -->
      </tr>
    </table> 
  </form>   
</div>
</div>
  <body>
<html>
<html>

