<div class="container">
  <!-- Carousel -->
  <carousel [interval]="2000"> <!-- Set interval in milliseconds -->
    <slide *ngFor="let slide of pgImages; let i = index" [active]="i === 0">
      <img [src]="slide.image" class="d-block w-100" alt="">
      <div class="carousel-caption">
        <h5>{{ slide.title }}</h5>
        <p>{{ slide.description }}</p>
      </div>
    </slide>
  </carousel>

  <!-- PG Details -->
  <div *ngIf="pgImages.length > 0">
    <h2>PG Details</h2>
    <ul>
      <li><strong>Name:</strong> {{ pgImages[0].title }}</li>
      <li><strong>Location:</strong> {{ pgImages[0].description }}</li>
      <li><strong>License Number:</strong> {{ pg?.licenseNumber }}</li>
      <li><strong>PgType:</strong> {{ pg?.gender }}</li>
      <li><strong>Shares Available:</strong> {{ pg?.sharesAvailable }}</li>
      <li><strong>TotalVacancies:</strong> {{ pg?.totalVacancies}}</li>
      <li><strong>Vacancies2Share:</strong> {{ pg?.vacancies2Share}}</li>
      <li><strong>Vacancies3Share:</strong> {{ pg?.vacancies3Share}}</li>
      <li><strong>Vacancies4Share:</strong> {{ pg?.vacancies4Share}}</li>
      <li><strong>Price for Two:</strong> {{ pg?.priceForTwo }}</li>
      <li><strong>Price for Three:</strong> {{ pg?.priceForThree }}</li>
      <li><strong>Price for Four:</strong> {{ pg?.priceForFour }}</li>
      <li>
        <strong>Amenities:</strong>
        {{ pg?.amenities   }}
      </li>
    </ul>

  </div>
  <div class="mt-3">

<button class="btn btn-primary" (click)="addToWishList()">Add to Wish List</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="btn btn-success" (click)="openContactDetailsDialog()">View Contact Details</button>
</div>

  <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
</div>
