
<!--app-register></app-register-->
<!--app-header></app-header>
<app-header></app-header>
< <app-footer></app-footer> -->
<!--app-navbar></app-navbar>
<router-outlet></router-outlet>--->
<app-navbar></app-navbar>
<!-- <app-pg></app-pg> -->
<router-outlet></router-outlet>



