html, body {
  margin: 0;
  padding: 0;
}

.header {
  background-color:#333333;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.jumbotron {
  background: url(https://s3.amazonaws.com/codecademy-content/projects/broadway/bg.jpg);
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
  height: 800px;
}

.nav {
  margin: 0;
  padding: 20px 0;
}

.nav li {
  display:inline;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-transform:uppercase;
  margin-left:10px;
  margin-right:10px;
}

.main {
  position: relative;
  top: 180px;
  text-align: center;
}

.main h1 {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.btn-main {
  background-color: #333;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-default {
  color:#333;
  border:1px solid #333333;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1.3px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;  
  display: inline-block;
  margin-bottom: 20px; 
  padding-right:50px;
  padding-left:50px;
}

.supporting {
  padding-top: 80px;
  padding-bottom: 100px;
}

.supporting .col {
  float: left;
  width: 33%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding-bottom: 20px;
}

.supporting img {
  height: 72px;
}

.supporting h2 {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px;
}

.supporting p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 50px;
  margin-bottom: 40px;
}

.clearfix {
  clear: both;
}

@media (max-width: 500px) {
  .main h1 {
    font-size: 50px;
    padding: 0 40px;
  }

  .supporting .col {
    width: 100%;
  }
}
.carousel-inner img {
  height: 500px; 
  width: 70%; 
  object-fit: cover;
}
.carousel,
.carousel-inner,
.carousel-item {
margin: 0;
padding:20px;
}
