<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>


<h1 align="center">Users Data</h1>
<br />
<div align="center" class="container">
    <table class="table table-hover table-striped table-sm table-bordered">
        <thead>
            <tr align="center">
                <th class="bg-info text-white">userId</th>
                <th class="bg-info text-white">userName</th>
                <th class="bg-info text-white">emailId</th>
                <th class="bg-info text-white">mobileNumber</th>
                <th class="bg-info text-white">gender</th>
                <th class="bg-info text-white">address</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users" align="center">
                <td> {{user.userId }} </td>
                <td> {{user.firstName+user.lastName }} </td>
                <td> {{user.emailId }} </td>
                <td> {{user.mobileNumber }} </td>
                <td> {{user.gender }} </td>
                <td> {{user.address }} </td>

            </tr>
        </tbody>
    </table>
</div>


<!-- Add the following Code for Modal Dialog Box -->
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title"><b>Update users</b></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <table align="center">
                        <tr>
                            <td>USERID</td>
                            <!-- <td><input type="text" name="userId" [(ngModel)]="editUser.userId" /></td> -->
                        </tr>
                        <tr>
                            <td>UserName</td>
                            <td><input type="text" name="userName" [(ngModel)]="editUsers.userName" /></td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>
                                <select name="gender" [(ngModel)]="editUsers.gender">
                                    <option value="" selected>Select Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Others">Others</option>
                                </select>
                            </td>
                        </tr>


                        <tr>
                            <td>EmailId</td>
                            <td><input type="text" name="emailId"[(ngModel)]="editUsers.emailId" /></td>
                        </tr>
                    </table>
                </div>

                <!-- <div class="modal-footer">
                    <button (click)="updateUser()" class="btn btn-default" data-dismiss="modal">Update                 
                    User</button>
                </div> -->

            </div>
        </div>
    </div>
</div>