<form (ngSubmit)="onSubmit()" #pgForm="ngForm" class="row" style="background-color: lightblue;">
  <h1 style="text-align: center;">AddPg</h1>
  <div class="col-md-6">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="pg.name" name="name" required>
    </div>
    <div class="form-group">
      <label for="licenseNumber">License Number:</label>
      <input type="text" class="form-control" id="licenseNumber" [(ngModel)]="pg.licenseNumber" name="licenseNumber"
        required>
    </div>
    <div class="form-group">
      <label for="location">Location:</label>
      <input type="text" class="form-control" id="location" [(ngModel)]="pg.location" name="location" required>
    </div>
    <div class="form-group">
      <label for="pgType">PgType:</label>
      <select class="form-control" id="pgType" [(ngModel)]="pg.gender" name="pgType" required>
        <option value="" disabled selected>Select Type</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Coliving">Coliving</option>
      </select>
    </div>

    <div class="form-group">
      <label for="imageName">Image1:</label>
      <input type="text" class="form-control" id="imageName" [(ngModel)]="pg.imageName" name="imageName" required>
    </div>

    <div class="form-group">
      <label for="subImage1">Image2:</label>
      <input type="text" class="form-control" id="subImage1" [(ngModel)]="pg.subImage1" name="subImage1">
    </div>

    <div class="form-group">
      <label for="subImage2">Image3:</label>
      <input type="text" class="form-control" id="subImage2" [(ngModel)]="pg.subImage2" name="subImage2">
    </div>
    <div class="form-group">
      <label for="amenities">Amenities:</label>
      <input type="text" class="form-control" id="amenities" [(ngModel)]="pg.amenities" name="amenities">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="sharesAvailable">Shares Available:</label>
      <input type="text" class="form-control" id="sharesAvailable" [(ngModel)]="pg.sharesAvailable"
        name="sharesAvailable">
    </div>
    <div class="form-group">
      <label for="priceForTwo">Price for Two:</label>
      <input type="text" class="form-control" id="priceForTwo" [(ngModel)]="pg.priceForTwo" name="priceForTwo">
    </div>
    <div class="form-group">
      <label for="priceForThree">Price for Three:</label>
      <input type="text" class="form-control" id="priceForThree" [(ngModel)]="pg.priceForThree" name="priceForThree">
    </div>
    <div class="form-group">
      <label for="priceForFour">Price for Four:</label>
      <input type="text" class="form-control" id="priceForFour" [(ngModel)]="pg.priceForFour" name="priceForFour">
    </div>
    <div class="form-group">
      <label for="vacancies2Share">Vacancies for Two:</label>
      <input type="number" class="form-control" id="vacancies2Share" [(ngModel)]="pg.vacancies2Share"
        name="vacancies2Share">
    </div>
    <div class="form-group">
      <label for="vacancies3Share">Vacancies for Three:</label>
      <input type="number" class="form-control" id="vacancies3Share" [(ngModel)]="pg.vacancies3Share"
        name="vacancies3Share">
    </div>
    <div class="form-group">
      <label for="vacancies4Share">Vacancies for Four:</label>
      <input type="number" class="form-control" id="vacancies4Share" [(ngModel)]="pg.vacancies4Share"
        name="vacancies4Share">
    </div>
  </div>
  <div class="col-12 text-center">
    <button type="submit" class="btn btn-primary" style="width: 150px;">Add PG</button>
  </div>
</form>