<h2 mat-dialog-title>Contact Details</h2>
<div mat-dialog-content *ngIf="data?.manager">
  <p><strong>Manager Name:</strong> {{ data.manager.firstName }} {{ data.manager.lastName }}</p>
  <p><strong>Email:</strong> {{ data.manager.emailId }}</p>
  <p><strong>Mobile Number:</strong> {{ data.manager.mobileNumber }}</p>
  <p><strong>Address:</strong> {{ data.manager.address }}</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Close</button>
</div>