.bookpg-header {
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold;
    background-color: lightblue; /* Adjust background color as needed */
    padding: 10px; /* Add padding for spacing */
    margin-bottom: 20px; /* Add margin at the bottom for spacing */
  }
  