<form>
  <div class="bookpg-header" style="text-align: center;">BookPg</div>
  <div class="form-group row">
    <label for="pgName" class="col-sm-3 col-form-label">PG Name:</label>
    <div class="col-sm-9"> 
      <input type="text" class="form-control" id="pgName" name="pgName" [value]="data.pg.name">
    </div>
  </div>
  <div class="form-group row">
    <label for="selectShare" class="col-sm-3 col-form-label">Select Share:</label> 
    <div class="col-sm-9"> 
      <select class="form-control" id="selectShare" name="selectShare">
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label for="joiningDate" class="col-sm-3 col-form-label">Joining Date:</label> 
    <div class="col-sm-9">
      <input type="date" class="form-control" id="joiningDate" name="joiningDate">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-9 offset-sm-3"> 
      <a href="https://rzp.io/i/N9eCgNnju" class="btn btn-primary">Book</a>&nbsp;&nbsp;&nbsp;

      <button class="btn btn-info"(click)="bookPg()">book</button>
    </div>
  </div>
</form>
