

<h1 align="center">Managers Data</h1>
<br />
<div align="center" class="container">
    <table class="table table-hover table-striped table-sm table-bordered">
        <thead>
            <tr align="center">
                <th class="bg-info text-white">Manager ID</th>
                <th class="bg-info text-white">Manager Name</th>
                <th class="bg-info text-white">Email ID</th>
                <th class="bg-info text-white">Mobile Number</th>
               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let manager of managers" align="center">
                <td> {{ manager.managerId }} </td>
                <td> {{ manager.firstName+manager.lastName   }} </td>
                <td> {{ manager.emailId }} </td>
                <td> {{ manager.mobileNumber }} </td>
                <td> 
                  
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal Dialog Box -->
<div class="container">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- <div class="modal-header">
                    <h4 class="modal-title"><b>Edit Manager</b></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div> -->
                <!-- <div class="modal-body">
                    <table align="center">
                        <tr>
                            <td>Manager ID</td>
                            <td><input type="text" name="managerId" [(ngModel)]="editManager.managerId" readonly /></td>
                        </tr>
                             <tr>
                            <td>Manager Name</td>
                            <td><input type="text" name="managerName" [(ngModel)]="editManager.managerName" /></td>
                        </tr>
                        <tr>
                            <td>Email ID</td>
                            <td><input type="text" name="emailId" [(ngModel)]="editManager.emailId" /></td>
                        </tr>
                        <tr>
                            <td>Mobile Number</td>
                            <td><input type="text" name="mobileNumber"             [(ngModel)]="editManager.mobileNumber" /></td>
                        </tr>
                    </table>
                </div>
                    <div class="modal-footer"> -->
                    <!-- <button (click)="deleteManagerById()" class="btn btn-success" data-dismiss="modal">delete Manager</button> -->
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->