<div class="main">
    <div class="container">
      <form class="form-container" (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <h2>Managers Login</h2>
        <div>
          <input type="text" name="email" placeholder="Email" required [(ngModel)]="email" #emailInput="ngModel">
          <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
            <div *ngIf="emailInput.errors && emailInput.errors['required']" style="color: red;">Email is required.</div>
          </div>
        </div>
        
        <div>
          <input type="password" name="password" placeholder="Password" required [(ngModel)]="password" #passwordInput="ngModel">
          <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
            <div *ngIf="passwordInput.errors && passwordInput.errors['required']" style="color:red;">Password is required.</div>
          </div>
        </div>
        
        
        <input type="submit" value="Login" [disabled]="loginForm.invalid">
        <div class="register-forget opacity">
          <a href="registerm">REGISTER</a> &nbsp;
          &nbsp;
          </div>
      </form>
    </div>
  </div>
  