<div class="container mt-4">
  <div class="row">
    <div class="col-md-4" *ngFor="let pg of pgs">
      <div class="card mb-4">
        <img class="card-img-top" [src]="pg.image" alt="PG Image" width="250" height="400">
        <div class="card-body">
          <h5 class="card-title">{{ pg.name }}</h5>
          <p class="card-text">{{ pg.address }}</p>
          <p class="card-text">Gender: {{ pg.gender }}</p>
          <p class="card-text">Available shares: {{ pg.shares }}</p>
             <p class="card-text">Contact: {{ pg.contact }}</p>
          <button class="btn btn-primary" (click)="showContactDetails(pg)" data-toggle="modal" data-target="#contactDetailsModal">View more details</button>
        </div>
      </div>
    </div>
  </div>
</div>

