/* Add this CSS to your global styles or component-specific styles */

/* Prevent scrolling on the dialog content */
.mat-dialog-container {
    overflow: hidden !important;
  }
  
  /* Set maximum height for the dialog content */
  .mat-dialog-content {
    max-height: 80vh; /* Adjust the value as needed */
  }
  