<form (ngSubmit)="updatePg(pg)" #pgForm="ngForm" class="form-container">
  <h1 style="text-align: center">UpdatePg</h1>
  <div mat-dialog-content *ngIf="data?.pg" class="form-fields">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">PgName:</label>
          <mat-form-field>
            <input matInput id="name" placeholder="Name" [(ngModel)]="data.pg.name" name="name" required readonly>
          </mat-form-field>
        </div>
        <div class="form-group">
          <label for="licenseNumber">License Number:</label>
          <mat-form-field>
            <input matInput id="licenseNumber" placeholder="License Number" [(ngModel)]="data.pg.licenseNumber"
              name="licenseNumber" required readonly>
          </mat-form-field>
          <div class="form-group">
            <label for="totalVacancies">Total Vacancies:</label>
            <mat-form-field>
              <input matInput id="totalVacancies" placeholder="Total Vacancies" [(ngModel)]="data.pg.totalVacancies"
                name="totalVacancies" type="number" required readonly>
            </mat-form-field>
          </div>

        </div>
        <div class="form-group">
          <label for="vacancies2Share">Vacancies2Share:</label>
          <mat-form-field>
            <input matInput id="vacancies2Share" placeholder="Vacancies2Share" [(ngModel)]="data.pg.vacancies2Share"
              name="vacancies2Share" required type="number">
          </mat-form-field>
        </div>
        <div class="form-group">
          <label for="vacancies4Share">Vacancies4Share:</label>
          <mat-form-field>
            <input matInput id="vacancies4Share" placeholder="Vacancies4Share" [(ngModel)]="data.pg.vacancies4Share"
              name="vacancies4Share" required type="number">
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="vacancies3Share">Vacancies3Share:</label>
          <mat-form-field>
            <input matInput id="vacancies3Share" placeholder="Vacancies3Share" [(ngModel)]="data.pg.vacancies3Share"
              name="vacancies3Share" required type="number">
          </mat-form-field>
        </div>
        <div class="form-group">
          <label for="priceForTwo">PriceForTwo:</label>
          <mat-form-field>
            <input matInput id="priceForTwo" placeholder="PriceForTwo" [(ngModel)]="data.pg.priceForTwo"
              name="priceForTwo" required type="number">
          </mat-form-field>
        </div>
        <div class="form-group">
          <label for="priceForThree">PriceForThree:</label>
          <mat-form-field>
            <input matInput id="priceForThree" placeholder="PriceForThree" [(ngModel)]="data.pg.priceForThree"
              name="priceForThree" required type="number">
          </mat-form-field>
        </div>
        <div class="form-group">
          <label for="priceForFour">PriceForFour:</label>
          <mat-form-field>
            <input matInput id="priceForFour" placeholder="PriceForFour" [(ngModel)]="data.pg.priceForFour"
              name="priceForFour" required type="number">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="form-actions">
    <button mat-button type="submit">Update</button>
  </div>
</form>