.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Changed to 100vh */
  width: 100%; /* Added */
}

.login-container {
  position: relative;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
  max-width: 300px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
}
body {
  overflow: hidden; /* Prevent scrolling */
  background: linear-gradient(90deg,slateblue ,skyblue); /* Combination of two light colors */
}




button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.error-message {
  color: red;
  margin-top: 5px;
  font-size: 12px;
}