<div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let pg of pgs">
        <div class="card mb-3">
          <img [src]="'assets/Images/' + pg.imageName" class="card-img-top" alt="{{ pg.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ pg.name }}</h5>
            <p class="card-text">PGType: {{ pg.gender }}</p>
            <p class="card-text">Location: {{ pg.location }}</p>
            <p class="card-text">TotalVacancies: {{ pg.totalVacancies }}</p>
            <button class="btn btn-primary" (click)="viewDetails(pg.pgId)">View More Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  