<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:rgba(128, 128, 128, 0.793)">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="navbar-brand">
            <a routerLink="home">
                <img class="w-8" routerLink="/" src="https://static.vecteezy.com/system/resources/previews/004/942/068/original/hch-initial-logo-for-cool-and-modern-real-estate-companies-free-vector.jpg" alt="HOMECRAFTHUB">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="home">Home</a>
                </li>
                <li class="nav-item">
                    <a  *ngIf="loginStatus && !managerLoginStatus" class="nav-link" routerLink="pg">Pgs</a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link" routerLink="aboutus">About Us</a>
                </li>
            </ul>
            <ul class="navbar-nav mx-auto ">
                <div >
                    <button *ngIf="!loginStatus" mat-button [matMenuTriggerFor]="loginMenu">Login</button>

                    <mat-menu #loginMenu="matMenu">
                        <button mat-menu-item (click)="navigateToUserLogin()">User</button>
                        <button mat-menu-item (click)="navigateToManagerLogin()">Manager</button>
                    </mat-menu>
                </div>
                <li class="nav-item" *ngIf="managerLoginStatus"> 
                    <a class="nav-link" (click)="openAddPgsDialog()">addPgs</a>
                  </li>
        
                <li class="nav-item">
                    <button *ngIf="loginStatus && !managerLoginStatus" mat-menu-item (click)="navigateToCart()">MyWishList({{length}})</button>
                </li>
                
                <li class="nav-item" *ngIf="adminLoginStatus"> <!-- Display Users link only when admin logged in -->
                    <a class="nav-link" routerLink="users">Users</a>
                  </li>
                  <li class="nav-item" *ngIf="adminLoginStatus"> <!-- Display Managers link only when admin logged in -->
                    <a class="nav-link" routerLink="manager">Managers</a>
                  </li>
            </ul>
            <div>
                <button *ngIf="loginStatus || managerLoginStatus" mat-button [matMenuTriggerFor]="userMenu">{{userName}}</button>
            
                <mat-menu #userMenu="matMenu">
                    <button mat-menu-item>Profile</button>
                    <button mat-menu-item (click)="navigateToHome()">Logout</button>
                </mat-menu>
            </div>
            
        </div>
    </div>
  </nav>
