<nav class="navbar navbar-expand-lg " style="background-color:gainsboro">
  <div class="container-fluid">
    
        <a class="navbar-brand" routerLink="home"></a>
          <img src="assets/Images/logo.png" alt="Logo" >
          
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="homep">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBudget" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Budget
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownBudget">
            <li><a class="dropdown-item" href="#">6000</a></li>
            <li><a class="dropdown-item" href="#">7000</a></li>
            <!-- Add more budget ranges as needed -->
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCategory" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Category
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownCategory">
            <li><a class="dropdown-item" href="#">Male</a></li>
            <li><a class="dropdown-item" href="#">Female</a></li>
            <!-- Add more categories as needed -->
          </ul>
        </li>
        <li>
          <a class="nav-link active" aria-current="page" routerLink="aboutus">AboutUs</a>
        </li>
      </ul>
      
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <!-- Display login and signup buttons only if user is not logged in -->
        <ng-container *ngIf="!isLoggedIn; else loggedIn">
          <li class="nav-item">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="register">SignUp</a>
          </li>
        </ng-container>
        <!-- Display logout button only if user is logged in -->
        <ng-template #loggedIn>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>




