/* password.component.css */
.form-container {
    width: 400px; /* Adjust as needed */
    margin: auto; /* Center align horizontally */
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    text-align: center; /* Center align contents */
    min-height: 80vh; /* Ensure full viewport height */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Center vertically */
    background-color: white;
  }
  
  .form-container label {
    display: block; /* Display labels as block elements */
    margin-bottom: 5px; /* Add some spacing between labels and inputs */
  }
  body {
    /* Prevent scrolling */
      background: linear-gradient(90deg, slateblue, skyblue) !important; /* Combination of two light colors */
    }
  
  .form-container input[type="text"],
  .form-container input[type="password"],
  .form-container button {
    width: calc(100% - 20px); /* Adjust width for the padding */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px; /* Add some spacing between inputs */

  }
  
  .form-container button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .form-container button:hover {
    background-color: #0056b3;
  }
  