<!-- password.component.html -->
<html>
    <body>
<div class="form-container">
    <h2>Update Password </h2>
    <form #regForm="ngForm" (ngSubmit)="passwordChanged(regForm.value)" novalidate>
      <div>
        
        <input type="text" name="emailId" [value]="emailId" [(ngModel)]="emailId" readonly />
      </div>
      <div>
      
        <input type="password" placeholder="password"     name="password" #password="ngModel" ngModel required minlength="2" maxlength="15" />
      </div>
      <div>
        <button type="submit" [disabled]="!regForm.valid">Submit</button>
      </div>
    </form>
  </div>
 </body>
 </html>