<body>
    <div class="about-section">
        <div class="inner-container">
            <h1>About Us</h1>
            <p class="text">
                <b>Urban Nest simplifies finding PG accommodations in urban areas</b>

                Urban Nest user-friendly platform enables users to effortlessly search for
                PGs in their desired locality, offering detailed room information.
                We prioritize transparency and convenience, allowing users to book
                accommodations directly through our website.
                Whether you're a student, a working professional, or in transition,
                Urban Nest is here to help you find your ideal PG accommodation.

                <br>

                <b>Our Journey:</b>
                Started with a vision to simplify PG hunting, UrbanNest was born from personal
                struggles faced by our founders in finding suitable accommodations.



            </p>
        </div>
    </div>

</body>
<app-footer></app-footer>