<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<div class="footer">
    <footer class="bg-body-tertiary text-center ">
        
        <div class="container p-4 pb-0">
          
        </div>
      
     
        <div class="text-center p-3" style="background-color: rgba(228, 224, 224, 0.05);">
            © 2023 Copyright:
            <a class="text-body" href="http://localhost:4200/">UrbanNest</a>
        </div>
       
    </footer>
</div>
