<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<h1 align="center">MyWishList</h1>
<div class="container">
    <div class="row" *ngIf="cartItems.length > 0; else emptyWishlist">
        <div class="col-md-4" *ngFor="let cartItem of cartItems">
            <div class="card">
                <div class="card-header text-white">
                    <img [src]="'assets/Images/' + cartItem.imageName" class="card-img-top" alt="{{ cartItem.name }}">
                </div>
                <div class="card-body">
                    <h5 class="card-title">PgName: {{cartItem.name}}</h5>
                    <h5 class="card-title">Location: {{cartItem.location}}</h5>
                    <p class="card-text">Advance: 3000</p>
                    <div class="mt-2 d-flex justify-content-between">
                        <!-- <a href="https://rzp.io/i/N9eCgNnju" class="btn btn-primary">Book Now</a> -->
                        <button (click)="openBookPgDialog(cartItem)" class="btn btn-info">Book</button>

                        <button (click)="deleteCartProduct(cartItem)" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #emptyWishlist>
        <div class="alert alert-info text-center">
            <b> Wishlist is empty.</b>
        </div>
    </ng-template>
</div>