.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: colorAnimation 5s infinite alternate;
  color: #155724;
}
@keyframes colorAnimation {
  0% {
    color: red; /* Start color */
  }
  50% {
    color: blue; /* Middle color */
  }
  100% {
    color: green; /* End color */
  }
}

.background-image{
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  
}

.heading {
  margin-bottom: 20px;
  margin-right: 250px;
}

.radio-group label {
  margin-left: 10px;
}

.radio-label {
  margin-left: 5px;
}

.gender-label {
  font-weight: bold; 
  color: #FF5733; 
  font-size: 16px; 
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}



.form-control {
  width: 20px;
}

/* Increase width of form components */
.form-group {
  width: 120%;
   color: #155724;
}

.input-group {
  width: 75%;
  
   /* Adjust as needed */
}
.radio-group {
  width: 100%;
}

/* Optionally, adjust the width of the radio labels */
.radio-label {
  display: inline-block;
  width: auto; /* Adjust as needed */
}

/* Optionally, adjust the width of the buttons */
.register-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
}

/* Optionally, adjust the width of the login link */
.form-group p {
  width: 100%;
  
}
.toastr-success {
  color: #155724;
  background-color: #155724;
  border-color: #c3e6cb;
}
body {
  overflow: hidden; /* Prevent scrolling */
  background: linear-gradient(90deg,slateblue ,skyblue); /* Combination of two light colors */
  
}
.registration-box{
  width:30%;
}