<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
  <div class="main">
    <div class="container">
      <div class="col-md-10 registration-form">
        <h2>Manager Registration</h2>
        <form (submit)="registerSubmit(registrationForm)" #registrationForm="ngForm">
  
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input type="text" class="form-control" id="firstName" name="firstName"
                     [(ngModel)]="manager.firstName" required maxlength="20" placeholder="First Name">
            </div>
            <div *ngIf="registrationForm.controls['firstName'].invalid && registrationForm.controls['firstName'].touched"
                 class="error-message">
              Please provide a first name.
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input type="text" class="form-control" id="lastName" name="lastName"
                     [(ngModel)]="manager.lastName" required maxlength="20" placeholder="Last Name">
            </div>
            <div *ngIf="registrationForm.controls['lastName'].invalid && registrationForm.controls['lastName'].touched"
                 class="error-message">
              Please provide a last name.
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
            <label for="gender">Gender:</label>
            <select id="gender" name="gender" [(ngModel)]="manager.gender" required>
              <option value="" disabled selected>Select Gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="co-living">Other</option>
            </select>
            </div>
            <div *ngIf="registrationForm.controls['gender'].invalid && registrationForm.controls['gender'].touched"
                 class="error-message">
                Please select a gender.
            </div>
          </div>
          
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
              <input type="text" class="form-control" id="mobileNumber" name="mobileNumber"
                     [(ngModel)]="manager.mobileNumber" required maxlength="10" pattern="^[6789]\d{9}$" placeholder="Mobile Number">
            </div>
            <div *ngIf="registrationForm.controls['mobile_number'].invalid && registrationForm.controls['mobile_number'].touched"
                 class="error-message">
              Please provide a valid mobile number.
            </div>
          </div>
          
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
              <input type="text" class="form-control" id="emailId" name="emailId"
       [(ngModel)]="manager.emailId" required pattern="[a-z0-9._%+-]+@gmail.com" placeholder="emailId">

            </div>
            <div *ngIf="registrationForm.controls['emailId'].invalid && registrationForm.controls['emailId'].touched"
                 class="error-message">
              Please provide a valid email address .
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
              <input type="text" class="form-control" id="address" name="address"
                     [(ngModel)]="manager.address" required placeholder="Address" maxlength="20">
            </div>
            <div *ngIf="registrationForm.controls['address'].invalid && registrationForm.controls['address'].touched"
                 class="error-message">
              Please provide a valid address.
            </div>
          </div>
          
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input type="password" class="form-control" id="password" name="password"
                     [(ngModel)]="manager.password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,15}$"
                     placeholder="Password">
            </div>
            <div *ngIf="registrationForm.controls['password'].invalid && registrationForm.controls['password'].touched"
                 class="error-message">
                 Please provide a valid password.
            </div>
          </div>
          
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                     [(ngModel)]="manager.confirmPassword" required minlength="8" maxlength="15" placeholder="Confirm Password">
            </div>
            <div *ngIf="registrationForm.controls['confirmPassword'].invalid && registrationForm.controls['confirmPassword'].touched"
                 class="error-message">
              Please confirm your password.
            </div>
            <div *ngIf="manager.password !== manager.confirmPassword && registrationForm.controls['confirmPassword'].touched"
                 class="error-message">
              Passwords do not match.
            </div>
          </div>

          <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" (reset)="handleReset()" (expire)="handleExpire()"
        (load)="handleLoad()" (success)="handleSuccess($event)" [useGlobalDomain]="false" formControlName="recaptcha">
    </ngx-recaptcha2>

    <br />

    <div *ngIf="registrationForm.invalid && registrationForm.touched" class="error-message">
      
    </div>

    <button type="submit" class="btn btn-primary register-button" [disabled]="registrationForm.invalid">
        Register
    </button>

    <div class="form-group">
        <p>Already have an account? <a routerLink="/login-m">Login here</a></p>
    </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
